.github-markdown-body .hljs-comment,
.github-markdown-body .hljs-quote {
  font-style: normal !important;
}
.code-copy-added:hover .copy-btn {
  opacity: 1;
}
blockquote {
  margin: 0 0 16px;
}
.warning {
  .el-alert__title {
    line-height: 23px;
  }
  .el-alert__close-btn {
    top: 13px !important;
  }
}
